@font-face {
    font-family : "ChunkFive";
    src         : url('fonts/Chunkfive-webfont.eot');
    src         : url('fonts/Chunkfive-webfont.eot?#iefix') format('eot'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.otf') format('opentype'), url('fonts/Chunkfive-webfont.woff') format('woff');
    font-weight : normal;
}

@font-face {
    font-family : "OpenSans";
    src         : url('fonts/OpenSans-Regular-webfont.eot');
    src         : url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('eot'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.otf') format('opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight : normal;
}

@font-face {
    font-family : "FoundationIcons";
    src         : url('fonts/foundation-icons.eot');
    src         : url('fonts/foundation-icons.eot?#iefix') format('eot'), url('fonts/foundation-icons.ttf') format('truetype'), url('fonts/foundation-icons.otf') format('opentype'), url('fonts/foundation-icons.woff') format('woff');
    font-weight : normal;
}
