/* line 160, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
*,
*:before,
*:after {
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
}

/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
html,
body {
    font-size : 16px;
}

/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
body {
    background             : white;
    color                  : #222222;
    padding                : 0;
    margin                 : 0;
    font-family            : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight            : normal;
    font-style             : normal;
    line-height            : 1;
    position               : relative;
    -webkit-font-smoothing : antialiased;
}

/* line 184, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
img,
object,
embed {
    max-width : 100%;
    height    : auto;
}

/* line 187, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
object,
embed {
    height : 100%;
}

/* line 188, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
img {
    -ms-interpolation-mode : bicubic;
}

/* line 194, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width : none !important;
}

/* line 199, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.left {
    float : left;
}

/* line 200, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.right {
    float : right;
}

/* line 201, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.text-left {
    text-align : left;
}

/* line 202, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.text-right {
    text-align : right;
}

/* line 203, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.text-center {
    text-align : center;
}

/* line 204, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.text-justify {
    text-align : justify;
}

/* line 205, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
.hide {
    display : none;
}

/* line 208, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
img {
    display : block;
}

/* line 215, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
textarea {
    height     : auto;
    min-height : 50px;
}

/* line 218, ../../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-4.0.3/scss/foundation/_foundation-global.scss */
select {
    width : 100%;
}

/* line 98, social/*.png */
.social-sprite, .footer .social li.facebook a, .footer .social li.facebook a:hover, .footer .social li.twitter a, .footer .social li.twitter a:hover, .footer .social li.linkedin a, .footer .social li.linkedin a:hover, .footer .social li.dribbble a, .footer .social li.dribbble a:hover {
    background : url('../img/social-sfa0ec548ec.png') no-repeat;
}

@font-face {
    font-family : "ChunkFive";
    src         : url('fonts/Chunkfive-webfont.eot');
    src         : url('fonts/Chunkfive-webfont.eot?#iefix') format('eot'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.otf') format('opentype'), url('fonts/Chunkfive-webfont.woff') format('woff');
    font-weight : normal;
}

@font-face {
    font-family : "OpenSans";
    src         : url('fonts/OpenSans-Regular-webfont.eot');
    src         : url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('eot'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.otf') format('opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight : normal;
}

@font-face {
    font-family : "FoundationIcons";
    src         : url('fonts/foundation-icons.eot');
    src         : url('fonts/foundation-icons.eot?#iefix') format('eot'), url('fonts/foundation-icons.ttf') format('truetype'), url('fonts/foundation-icons.otf') format('opentype'), url('fonts/foundation-icons.woff') format('woff');
    font-weight : normal;
}

/* line 9, ../scss/styles.scss */
body {
    background-color : #f9f8f4;
    color            : #473016;
}

/* line 15, ../scss/styles.scss */
.top-bar .name h1 {
    font-family    : "ChunkFive", Arial, sans-serif;
    text-transform : uppercase;
}

/* line 22, ../scss/styles.scss */
.button {
    border             : 0;
    -webkit-box-shadow : 0 0 0 rgba(255, 255, 255, 0) inset;
    -moz-box-shadow    : 0 0 0 rgba(255, 255, 255, 0) inset;
    box-shadow         : 0 0 0 rgba(255, 255, 255, 0) inset;
}

/* line 28, ../scss/styles.scss */
.content {
    margin-top       : 1.875em;
    background-color : white;
}

/* line 31, ../scss/styles.scss */
.content .intro {
    padding          : 1.25em 0;
    background-color : #c2bdb7;
    color            : white;
    margin-bottom    : 1.25em;
}

/* line 36, ../scss/styles.scss */
.content .intro .button {
    margin-top       : 1.25em;
    background-color : #a8bb26;
    width            : 100%;
}

/* line 40, ../scss/styles.scss */
.content .intro .button:hover {
    background-color : #c4d73d;
}

/* line 48, ../scss/styles.scss */
.orbit-container {
    background : -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #f4f2ea));
    background : -webkit-radial-gradient(#ffffff, #f4f2ea);
    background : -moz-radial-gradient(#ffffff, #f4f2ea);
    background : -o-radial-gradient(#ffffff, #f4f2ea);
    background : radial-gradient(#ffffff, #f4f2ea);
}

/* line 50, ../scss/styles.scss */
.orbit-container h3 {
    padding          : 1.25em;
    background-color : rgba(255, 255, 255, 0.3);
}

/* line 53, ../scss/styles.scss */
.orbit-container h3 + p {
    padding          : 1.25em;
    background-color : rgba(255, 255, 255, 0.5);
    position         : relative;
    bottom           : 1.25em;
}

/* line 60, ../scss/styles.scss */
.orbit-container li {
    padding : 1.25em 2.5em;
}

/* line 62, ../scss/styles.scss */
.orbit-container li:nth-child(1) {
    background : url('../img/desktop.png?1361813776') no-repeat left bottom;
}

/* line 65, ../scss/styles.scss */
.orbit-container li:nth-child(2) {
    background : url('../img/editor.png?1361813982') no-repeat left bottom;
}

/* line 68, ../scss/styles.scss */
.orbit-container li:nth-child(3) {
    background : url('../img/macbook.png?1361814389') no-repeat left bottom;
}

/* line 71, ../scss/styles.scss */
.orbit-container li:nth-child(4) {
    background : url('../img/panel.png?1361814705') no-repeat left bottom;
}

/* line 75, ../scss/styles.scss */
.orbit-container a.orbit-prev, .orbit-container a.orbit-next {
    filter             : progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity            : 0;
    -webkit-transition : opacity 400ms;
    -moz-transition    : opacity 400ms;
    -o-transition      : opacity 400ms;
    transition         : opacity 400ms;
}

/* line 80, ../scss/styles.scss */
.orbit-container:hover a.orbit-prev, .orbit-container:hover .orbit-next {
    filter  : progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity : 1;
}

/* line 87, ../scss/styles.scss */
.title-section {
    margin-bottom  : 0.875em;
    padding-bottom : 0.875em;
    border-bottom  : 0.1875em solid #e6e6e6;
}

/* line 92, ../scss/styles.scss */
.title-section-secondary, .home .feature h4, .about .story > .columns > .row h4 {
    margin-bottom  : 0.875em;
    padding-bottom : 0.875em;
    border-bottom  : 0.1875em solid #d9b183;
}

/* line 99, ../scss/styles.scss */
.home {
    padding-bottom : 1.5625em;
}

/* line 102, ../scss/styles.scss */
.home .feature h4 {
    padding-left : 1.75em;
    position     : relative;
}

/* line 107, ../scss/styles.scss */
.home .feature h4:before {
    content     : "";
    display     : inline-block;
    padding     : 0.3125em 0;
    width       : 1.75em;
    height      : 1.75em;
    position    : absolute;
    left        : 0;
    bottom      : 0.3125em;
    font-family : "FoundationIcons";
    font-size   : 1.375em;
}

/* line 119, ../scss/styles.scss */
.home .feature:nth-of-type(1) h4:before {
    content : "\f000";
}

/* line 122, ../scss/styles.scss */
.home .feature:nth-of-type(2) h4:before {
    content : "\f00a";
}

/* line 125, ../scss/styles.scss */
.home .feature:nth-of-type(3) h4:before {
    content : "\f00e";
}

/* line 128, ../scss/styles.scss */
.home .feature:nth-of-type(4) h4:before {
    content : "\f01e";
}

/* line 135, ../scss/styles.scss */
.page {
    padding-top    : 1.5625em;
    padding-bottom : 1.5625em;
}

/* line 140, ../scss/styles.scss */
.page .panel {
    color         : #4d4d4d;
    margin-top    : 1.5625em;
    margin-bottom : 0;
}

/* line 142, ../scss/styles.scss */
.page .panel p:last-of-type {
    margin-bottom : 0;
}

/* line 149, ../scss/styles.scss */
.page .panel .button {
    width : 100%;
}

/* line 157, ../scss/styles.scss */
.service-list .service {
    position     : relative;
    padding-left : 9.375em;
}

/* line 160, ../scss/styles.scss */
.service-list .service:before {
    content     : "";
    display     : inline-block;
    padding     : 0.3125em;
    position    : absolute;
    left        : -0.125em;
    top         : -0.125em;
    font-family : "FoundationIcons";
    color       : #d9d6d3;
    font-size   : 6.875em;
}

/* line 171, ../scss/styles.scss */
.service-list .service a {
    font-weight : bold;
    color       : #473016;
}

/* line 175, ../scss/styles.scss */
.service-list .service h4 {
    padding-bottom : 1.25em;
    border-bottom  : 0.1875em solid #d9d6d3;
}

/* line 181, ../scss/styles.scss */
.service-list .row:nth-child(1) .service:nth-child(1):before {
    content : "\f021";
}

/* line 184, ../scss/styles.scss */
.service-list .row:nth-child(1) .service:nth-child(2):before {
    content : "\f022";
}

/* line 189, ../scss/styles.scss */
.service-list .row:nth-child(2) .service:nth-child(1):before {
    content : "\f026";
}

/* line 192, ../scss/styles.scss */
.service-list .row:nth-child(2) .service:nth-child(2):before {
    content : "\f028";
}

/* line 197, ../scss/styles.scss */
.service-list .row:nth-child(3) .service:nth-child(1):before {
    content : "\f009";
}

/* line 200, ../scss/styles.scss */
.service-list .row:nth-child(3) .service:nth-child(2):before {
    content : "\f00b";
}

/* line 205, ../scss/styles.scss */
.service-list .row:nth-child(4) .service:nth-child(1):before {
    content : "\f00f";
}

/* line 208, ../scss/styles.scss */
.service-list .row:nth-child(4) .service:nth-child(2):before {
    content : "\f010";
}

/* line 216, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table {
    border : 3px solid #2a77b3;
}

/* line 219, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table .title {
    background-color : #2a77b3;
    color            : white;
}

/* line 223, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table .price {
    color            : #2a77b3;
    background-color : #91c0e5;
    font-weight      : bold;
}

/* line 228, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table .cta-button {
    background-color : #91c0e5;
}

/* line 231, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table .button {
    background-color : #2a77b3;
}

/* line 233, ../scss/styles.scss */
.compare .columns:nth-child(1) .pricing-table .button:hover {
    background-color : #539dd7;
}

/* line 238, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table {
    border : 3px solid #95be60;
}

/* line 241, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table .title {
    background-color : #95be60;
    color            : white;
}

/* line 245, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table .price {
    color            : #95be60;
    background-color : #ddeacd;
    font-weight      : bold;
}

/* line 250, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table .cta-button {
    background-color : #ddeacd;
}

/* line 253, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table .button {
    background-color : #95be60;
}

/* line 255, ../scss/styles.scss */
.compare .columns:nth-child(2) .pricing-table .button:hover {
    background-color : #b9d496;
}

/* line 260, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table {
    border : 3px solid #f2c265;
}

/* line 263, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table .title {
    background-color : #f2c265;
    color            : white;
}

/* line 267, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table .price {
    color            : #f2c265;
    background-color : #fefaf2;
    font-weight      : bold;
}

/* line 272, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table .cta-button {
    background-color : #fefaf2;
}

/* line 275, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table .button {
    background-color : #f2c265;
}

/* line 277, ../scss/styles.scss */
.compare .columns:nth-child(3) .pricing-table .button:hover {
    background-color : #f8deac;
}

/* line 294, ../scss/styles.scss */
.call-us {
    margin-top : 10px;
}

/* line 296, ../scss/styles.scss */
.call-us li {
    list-style    : none;
    position      : relative;
    margin-bottom : 10px;
}

/* line 300, ../scss/styles.scss */
.call-us li:before {
    font-family : "FoundationIcons";
    font-size   : 1.5em;
    position    : absolute;
    width       : 18px;
    height      : 18px;
    left        : -30px;
    top         : -5px;
}

/* line 310, ../scss/styles.scss */
.call-us .phone:before {
    content : "\f011";
}

/* line 313, ../scss/styles.scss */
.call-us .email:before {
    content : "\f007";
}

/* line 319, ../scss/styles.scss */
.footer {
    margin-top : 1.5625em;
    color      : #473016;
}

/* line 322, ../scss/styles.scss */
.footer a {
    color : #473016;
}

/* line 326, ../scss/styles.scss */
.footer .footnav ul {
    margin : 0.3125em 0 0 0;
}

/* line 329, ../scss/styles.scss */
.footer .footnav li {
    margin-left  : 0;
    margin-right : 0.9375em;
}

/* line 334, ../scss/styles.scss */
.footer .footnav a:hover {
    text-decoration : underline;
}

/* line 342, ../scss/styles.scss */
.footer .social ul {
    float : right;
}

/* line 345, ../scss/styles.scss */
.footer .social li {
    margin-left : 0.3125em;
}

/* line 347, ../scss/styles.scss */
.footer .social li a {
    display     : inline-block;
    height      : 32px;
    width       : 32px;
    text-indent : 100%;
    white-space : nowrap;
    overflow    : hidden;
}

/* line 355, ../scss/styles.scss */
.footer .social li.facebook a {
    background-position : 0 -224px;
}

/* line 357, ../scss/styles.scss */
.footer .social li.facebook a:hover {
    background-position : 0 -192px;
}

/* line 361, ../scss/styles.scss */
.footer .social li.twitter a {
    background-position : 0 -160px;
}

/* line 363, ../scss/styles.scss */
.footer .social li.twitter a:hover {
    background-position : 0 -128px;
}

/* line 367, ../scss/styles.scss */
.footer .social li.linkedin a {
    background-position : 0 -64px;
}

/* line 369, ../scss/styles.scss */
.footer .social li.linkedin a:hover {
    background-position : 0 -96px;
}

/* line 373, ../scss/styles.scss */
.footer .social li.dribbble a {
    background-position : 0 -32px;
}

/* line 375, ../scss/styles.scss */
.footer .social li.dribbble a:hover {
    background-position : 0 0;
}

@media only screen and (max-width : 48em) {
    /* line 385, ../scss/styles.scss */
    .footer {
        text-align : center;
    }

    /* line 387, ../scss/styles.scss */
    .footer .footnav, .footer .social {
        margin-bottom : 20px;
    }

    /* line 389, ../scss/styles.scss */
    .footer .footnav ul, .footer .social ul {
        float : none;
    }

    /* line 392, ../scss/styles.scss */
    .footer .footnav li, .footer .social li {
        display      : inline-block;
        float        : none;
        margin-left  : 10px;
        margin-right : 10px;
    }
}
